<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.faysal.wc19">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:name=".Wc19"
            android:allowBackup="true"
            android:icon="@drawable/icon_app"
            android:label="@string/app_name"
            android:roundIcon="@drawable/icon_app"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".view.view.activities.AboutUsActivity">
        </activity>
        <activity android:name=".view.view.activities.PlayersDetailsActivity">
        </activity>
        <activity android:name=".view.view.activities.LiveStreamActivity">
        </activity>
        <activity android:name=".view.view.activities.SonyLivActivity">
        </activity>
        <activity android:name=".view.view.activities.YoutubeStreamActivity">
        </activity>
        <activity android:name=".view.view.activities.MatchDetailsActivity">
        </activity>
        <activity android:name=".view.view.activities.PlayersActivity">
        </activity>
        <activity android:name=".view.view.activities.MainActivity"/>
        <activity android:name=".view.view.activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>